/* Inline Toggle Button beside tabs */
.toggle-btn-inline {
  background: linear-gradient(90deg, #73c4fc 40%, #0d6efd 90%);
  color: #fff;
  border: none;
  border-radius: 12px;
  padding: 8px 16px;
  font-size: 1.2rem;
  margin-left: 12px;
  box-shadow: 0 2px 10px rgba(13, 110, 253, 0.3);
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
  margin-bottom: 12px;
}

.toggle-btn-inline:hover {
  
  transform: scale(1.00);
}

.toggle-btn-inline i {
  vertical-align: middle;
}
.nav-menu {
     list-style: none;
    margin: 0;
    display: flex;
    background-color: #FFF;
    padding: 0px;
 }
.nav-menu li{

}
.nav-menu li a {
     font-size: 14px;
    color: #000;
    display: inline-block;
    transition: 0.3s;
    width: 100%;
    padding: 10px;
    border-bottom: 1px solid #EFEFEF;
}

.nav-menu li a:hover {
  background-color: #007bff;
  color: white;
}
.nav-menu .sub-menu-ul{
  padding: 0px;
    margin: 0px;
    background: #F7F7F7;
}
.nav-menu .sub-menu-ul li{}
.nav-menu .sub-menu-ul li a{}
