body, html {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.setup-main {
<<<<<<< HEAD
 background: var(--navbar-bg);
    font-family: var(--font);
    /* margin: 0 auto; */
    /* padding: 52px 0; */
    min-width: 340px;
    max-width: 740px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.setup-navbar {
  display: flex;
  gap: 16px;
  background: var(--navbar-bg);
=======
  background: var(--uc-bg);
  margin: 0 auto;
}

.setup-navbar {
 
  background: var(--uc-card);
>>>>>>> 0ebe4bcd1a9d796f59d3d75d9bf85003896b6c7e
  box-shadow: var(--uc-shadow);
  
}


.setup-nav-btn {
  background: transparent;
  border: none;
  font-weight: 600;
  font-size: 1.01rem;
  color: black; /* Default text color */
  border-radius: 14px;
  padding: 11px 29px;
  transition: background 0.22s, color 0.17s;
  cursor: pointer;
}

.setup-nav-btn.active,
.setup-nav-btn:hover {
  color: white; /* Active and hover text color */
  background: linear-gradient(95deg, var(--uc-btn1) 60%, var(--uc-btn2));
  box-shadow: 0 3px 14px #51bdec40;
}

.setup-content h2 {
  font-size: 2rem;
  color: var(--uc-deep);
  font-weight: 800;
}

@media (max-width: 850px) {
  .setup-content, .setup-main {
    max-width: 99vw;
  }
  .setup-content {
    width: 96vw;
    min-width: auto;
  }
}
