/* DocumentTable.css */

/* Container styling */
.document-container {
    border-radius: 6px;
  box-shadow: 0 4px 10px rgba(46, 125, 140, 0.2);
}

/* Title */
.document-title {
  background-color: var(--header-bg);
  font-size: 1rem;
  margin-bottom: 0px;
  font-weight: 600;
  border-radius: 6px 6px 0 0;
  padding: 8px 12px;
}

/* Table styling */
.document-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border-color);
  background-color: var(--row-odd);
  font-family: 'Inter', sans-serif;
  color: var(--text-primary);
  min-width: 600px;
}

/* Header row */
.document-table thead {
  background-color: var(--header-bg);
  color: var(--header-text);
}

.document-table th {
  text-align: left;
  padding: 12px;
  font-weight: 600;
  border-bottom: 2px solid var(--border-color);
}

/* Table rows */
.document-table td {
  padding: 10px 12px;
  border-bottom: 1px solid var(--border-color);
}


/* Highlighted row (optional) */
.document-table tr.highlight {
  background-color: var(--highlight-row) !important;
  color: white;
}
